@{
    ViewBag.Title = "Sobre Nosotros";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Morgan Store es una tienda virtual!
    Morgan Store nace en el año 2015 como una innovacion chilena , Que se a ido popularizando entre el publico para ahora ofrecer todo tipo de productos electronicos a un precio asequible para el usuario
    Esto que comenzo con un proyecto de un joven , A llegado a muchos lugares del pais , y por eso agradecemos a ustedes la clientes , Proximamente se vienen noticias!
</p>
