@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Chile, Concepción<br />
    Enrique Molina 908<br />
    <abbr title="Phone">Número:</abbr>
    +569 78411973
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">Support@Morgan.cl</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@Morgan.cl</a>
</address>