@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron">
    <h1>Morgan Store - Concepción</h1>
    <p class="lead">Morgan Store es una tienda virtual , presiona el botón para ver nuestros productos</p>
    <p><a href="https://localhost:44329/Consolas" class="btn btn-primary btn-lg">Ver Consolas VideoJuego / Usado : 1 - Nuevo: 10 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gamepads</h2>
        <p>
            Exquisita variedad de Gamepads , Compatibles con tus consolas y ordenadores
        </p>
        <p><a class="btn btn-default" href="https://localhost:44329/Gamepads">Gamepads &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Juegos</h2>
        <p>Poseemos una gran variedad de juegos.</p>
        <p><a class="btn btn-default" href="https://localhost:44329/Juegos">Juegos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contacto</h2>
        <p>En caso de tener problemas de jugabilidad y/o Requerir Asistencia tecnica , Es aqui.</p>
        <p><a class="btn btn-default" href="https://localhost:44329/Home/Contact">Contacto &raquo;</a></p>
    </div>
</div>